<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Tabelka</title>
</head>
<body>
<h5 style="margin-left: 30px">Cennik owoców</h5>
<table class="table" style="width: 300px; margin-left: 20px"   >
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owoc: ${listFruit}">
        <td th:text="${owoc.name} "></td>
        <td th:text="${owoc.price} "></td>
    </tr>
    <tr>
        <th>Suma</th>
        <th th:text="${suma}">Suma1</th>


    </tr>

    </tbody>
</table>

<!--<div style="margin-left: 20px">-->
    <!--<h5>Dodaj owoc</h5>-->
    <!--<form action="/addFruit" method="post" th:object="${newFruit}">-->
        <!--<br>Nazwa</br>-->
        <!--<input type="text" th:filed="*{name}"/><br>-->
        <!--<br>Cena</br>-->
        <!--<input type="number" th:filed="*{price}"/><br>-->
        <!--<input type="submit" value="OK">-->
    <!--</form>-->
<!--</div>-->

</body>
</html>
